<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("includes/assets"); %>
    <link href="/public/assets/css/costumerservice.css" rel="stylesheet"/>
    <title>Atendimento de clientes</title>
</head>
<body>
    <div class="">
        <%- include("includes/menubar"); %>
        <div class="contents">
            <div class="leftslide">
                <div class="botoes">
                    <a href="/pedido/criar" class="botao" name="novopedido">Novo pedido</a>
                    <a href="#"  class="botao" name="pedidosentregues">Pedidos entregues</a>
                    <a href="#"  class="botao" name="pedidoscancelados">Pedidos Cancelados</a>
                    <a href="#"  class="botao" name="estoque">Gerenciar Estoque</a>
                </div>
            </div>
            <div class="centerposition">
                <div class="pedidossementrega" >
                    <h1>Retirar no local</h1>
                    <% if(locals.pedidossementrega){ %>
                        <% pedidossementrega.forEach(pedido => { %>
                            <div class="item itemtamanho">
                                <p> Pedido <%=pedido.id%></p>
                                <p> Cliente <%= pedido.cliente.nome %></p>
                                <p>Itens pedidos:</p>
                                <% pedido.itens.forEach(item =>{ %>
                                    <p> <%= item.quantidade %> <%= item.produto.nome %></p>

                                <% }); %>
                            </div>
                       <% }); %>
                    <% }else {%>
                        <div class="item"> Sem pedidos sem entrega</div>
                    <% } %>
                </div>
                <div class="pedidoscomentrega">
                    <h1>Para entrega</h1>
                    <% if(locals.pedidoscomentrega){ %>
                        <% pedidoscomentrega.forEach(pedido => { %>
                            <div class="item itemtamanho">
                                <p> Pedido <%=pedido.id%></p>
                                <p> Cliente <%= pedido.cliente.nome %></p>
                                <p>Itens pedidos:</p>
                                <% pedido.itens.forEach(item =>{ %>
                                    <p> <%= item.quantidade %> <%= item.produto.nome %></p>

                                <% }); %>
                            </div>
                       <% }); %>
                    <% }else {%>
                        <div class="item"> Sem pedidos sem entrega</div>
                    <% } %>
                </div>
            </div>
            <div class="rightslide">
            </div>
        </div>
    </div>
    
    <%- include("includes/footer"); %>
</body>
</html>
