<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("includes/assets"); %>
    <!-- Se quiser fazer um CSS personalizado desta pagina-->
    <!-- <link href="/public/assets/css/meucsspersonalizado.css" rel="stylesheet"/> -->
    <link href="/public/assets/css/criarpedido.css" rel="stylesheet"/>
    <title>Estoque</title>  <!--Não se esqueça de alterar o nome do titulo-->
</head>
<body>
    <%- include("includes/menubar"); %>
    <div class="main">
        <div class="contents">
            <!--Coloque seu conteúdo novo           -->
            
            <div class="div_form telaestoque_div " style="margin-bottom: 10%;margin-top: 3%; padding:  2% ;">
                <input type="hidden" class="telaestoque_produtoid">
                <input type="hidden" class="datamovimento" value="<%=movimento_dia_html %>">
                <input type="hidden" class="iduser" value="<%=iduser %>">
                <h1>Estoque</h1>
                <a class="botao telaestoque_botaoselecionar">Selecionar produto</a>
                <div class="form-group">    
                    <label>Produto</label>
                    <input class="telaestoque_campo_nome" readonly>
                </div>
                <div class="form-group">
                    <label>Item fechamento</label>
                    <input class="telaestoque_campo_itemfechamento" readonly>
                </div>
                <div class="form-group">
                    <label>Item parcial</label>
                    <input class="telaestoque_campo_unidadeparcial" readonly>
                </div>
                <div class="form-group">
                    <label>Categoria</label>
                    <input class="telaestoque_campo_category" readonly>
                </div>
                <div class="form-group">
                    <label>Estoque atual</label>
                    <input class="telaestoque_campo_quantidade" readonly>
                </div>
                <hr>
                <div class="form-group">
                    <label>Ação</label>
                    <select class="telaestoque_campo_opcao">
                        <option value="adicionar">Adionar estoque</option>
                        <option value="estornar">Estornar estoque</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Descrição</label>
                    <input class="telaestoque_campo_descricao">
                </div>
                
                <div class="form-group">
                    <label>Quantidade</label>
                    <input class="telaestoque_campo_valor">
                </div>
                <div class="form-group">
                    <a class="botao telaestoque_botaoconfirmar">Cofirmar</a>
                </div>
            </div>
    </div>
    <%- include("includes/footer"); %>
</body>
</html>