<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("includes/assets"); %>
    <!-- Se quiser fazer um CSS personalizado desta pagina-->
    <link href="/public/assets/css/criarpedido.css" rel="stylesheet"/> 
    <% if(locals.pedido) { %>
        <title>Pedido - cliente <%= pedido.cliente.nome %></title>  <!--Não se esqueça de alterar o nome do titulo-->
    <% } else { %>
        <title>Criar pedido</title>  <!--Não se esqueça de alterar o nome do titulo-->
    <% } %>    
</head>
<body>
    <div class="tagvariaveis  elementoinvisivel"> 
        <!--  
            class para variávies
            "destaqueobjeto"  para destacar variável
            "elementoinvisivel" para ficar invisivel
         -->
        <span class="elementoinvisivel iduser"><%= iduser %></span>
        <% if(locals.pedido){ %>
            <span class =" usuarioselecionado_criarpedido" ><%= pedido.idcliente %></span>
            <span class ="elementoinvisivel produtoselecionado_criarpedido"><%= stringprodutosid %> </span>
            <span class ="elementoinvisivel produtoselecionadoparcial_criarpedido"><%= stringprodutosparcial %> </span>
            <span class = "alterar_dados_usuario">-1</span>
        <% } else { %>
            <span class =" usuarioselecionado_criarpedido " >-1</span>
            <span class ="elementoinvisivel id_pedido" >-1</span>
            <span class ="elementoinvisivel produtoselecionado_criarpedido">-1</span>
            <span class = "alterar_dados_usuario">-1</span>
        <% } %>
    </div>


    <div class="main_criarpedido">
        <%- include("includes/menubar"); %>
        
        <div class="div_unica">
            <div class="painel_produtos"></div>
            <div class="divflexvertical">
                <div class="cliente_criarpedido">
                    <div class="controle_criarpedido">
                        <div class="divflexvertical informacao_criarpedido">
                            <% if(locals.pedido) { %>
                                <label  for="pedido" class="labelsimples">Pedido:</label>
                                <span class="pedidoregistradoclass pedido_campo id_pedido"><%= pedido.id %></span>
                                <label  for="estado" class="labelsimples">Estado:</label>
                                <% if(pedido.estado == "NORMAL") { %>
                                    <span class="pedidoregistradoclass estado_campo"><%= pedido.estado %></span>
                                <% } else { %>
                                    <span class="pedidoregistradoclass estado_campo gestaopedido_pedidocancelado"><%= pedido.estado %></span>
                                <% } %>
                                <label  for="fase" class="labelsimples">Fase:</label>
                                <span class="fase_campo"> <%= pedido.fase %> </span>
                                <label class="labelsimples" for="movimento">Data:</label>
                                <input type="date"  name="movimento" class="movimento_campo" value="<%= datamovimentopedido%>">
                            <% } else { %>
                                <label  for="pedido" class="labelsimples">Pedido:</label>
                                <span class="pedidonaoregistradoclass pedido_campo">-</span>
                                <label  for="estado" class="labelsimples">Estado:</label>
                                <span class="pedidoregistradoclass estado_campo">-</span>
                                <label  for="fase" class="labelsimples">Fase:</label>
                                <span class="fase_campo"> PENDENTE </span>
                                <label class="labelsimples" for="movimento">Data:</label>
                                <input type="date"  name="movimento" class="movimento_campo">
                        
                            <% } %>
                        </div>
                            
                           
                        <% if(locals.pedido) { %>
                        <div class="divflexvertical">
                            <label  for="status_pagamento" class="labelsimples"> Pagamento</label>
                            <select name="status_pagamento" class="selecttag status_pagamento_campo" >
                                <option  <%= (pedido.status_pagamento == "PAGO")?"selected":"" %>  value="PAGO">PAGO</option>
                                <option  <%= (pedido.status_pagamento == "AVISTA")?"selected":"" %>  value="AVISTA">A VISTA</option>
                                <option  <%= (pedido.status_pagamento == "CARTÃODECREDITO")?"selected":"" %>  value="CARTÃODECREDITO">CARTÃO DE CREDITO</option>
                                <option  <%= (pedido.status_pagamento == "PENDENTE")?"selected":"" %>  value="PENDENTE">PENDENTE</option>
                              </select>
                            <!-- <input type="checkbox" name="status_pagamento" class="status_pagamento_campo"> -->
                            <label  for="mododeentrega" class="labelsimples"> Entrega</label>
                            <select name="mododeentrega" class="selecttag mododeentrega_campo" >
                                <option  <%= (pedido.mododeentrega == "COMENTREGA")?"selected":"" %> value="COMENTREGA">COM ENTREGA</option>
                                <option  <%= (pedido.mododeentrega == "SEMENTREGA")?"selected":"" %> value="SEMENTREGA">SEM ENTREGA</option>
                              </select>
                            <!-- <input type="checkbox" name="mododeentrega"  class="mododeentrega_campo"> -->
                        </div>
                        <div class="divflexvertical botoes_criarpedido">
                            <a  class="botao novo_criarpedido">Limpar cliente</a>
                            <a  class="botao buscarusuario_criarpedido">Buscar cliente</a>                                    
                        </div>
                        <% }else { %>                        
                        <div class="divflexvertical">
                            <label  for="status_pagamento" class="labelsimples"> Pagamento</label>
                            <select  name="status_pagamento" class="selecttag status_pagamento_campo">
                                <option   value="PAGO">PAGO</option>
                                <option   value="AVISTA">A VISTA</option>
                                <option   value="CARTÃODECREDITO">CARTÃO DE CREDITOSTA</option>
                                <option   value="PENDENTE">PENDENTE</option>
                              </select>
                            <!-- <input type="checkbox" name="status_pagamento" class="status_pagamento_campo"> -->
                            <label  for="mododeentrega" class="labelsimples"> Entrega</label>
                            <select name="mododeentrega" class="selecttag  mododeentrega_campo">
                                <option   value="COMENTREGA">COM ENTREGA</option>
                                <option   value="SEMENTREGA">SEM ENTREGA</option>
                              </select>
                            <!-- <input type="checkbox" name="mododeentrega"  class="mododeentrega_campo"> -->
                        </div>
                        <div class="divflexvertical botoes_criarpedido">
                            <a  class="botao novo_criarpedido">Limpar cliente</a>
                            <a  class="botao buscarusuario_criarpedido">Buscar cliente</a>                                    
                        </div>
                        <% } %>
                    </div>     
                    
                    <% if(locals.pedido) { %>
                    <label  for="fase" class="labelsimples">Cliente cadastrado:</label>
                    <span class="clientecadastrado_campo"> SIM </span>
                    
                    <div class="clientedados_criarpedido">
                        <div class="divusuario">
                            <div class="label-input-group">
                                <label>Nome</label>
                                <input class="dadosusuario_nome" value="<%= pedido.cliente.nome%>">
                            </div>
                            <div class="label-input-group">
                                <label>Email</label>
                                <input class="dadosusuario_email" value="<%= pedido.cliente.email%>">
                            </div>
                            <div class="label-input-group">
                                <label>Telefone</label>
                                <input class="dadosusuario_telefone" value="<%= pedido.cliente.telefone%>">
                            </div>
                            <div class="label-input-group">
                                <label>Celular</label>
                                <input class="dadosusuario_celular" value="<%= pedido.cliente.celular%>">
                            </div>
                            <div class="label-input-group">
                                <label>Rua</label>
                                <input class="dadosusuario_logradouro" value="<%= pedido.cliente.logradouro%>">
                            </div>
                            <div class="label-input-group">
                                <label>Número</label>
                                <input class="dadosusuario_numero" value="<%= pedido.cliente.numero%>">
                            </div>
                            <div class="label-input-group">
                                <label>Cidade</label>
                                <input class="dadosusuario_municipio" value="<%= pedido.cliente.municipio%>">
                            </div>
                        </div>
                        
                        <a  class="botao salvarpedido_criarpedido"> Salvar pedido</a>
                        <a  href="/pedido/cancelar/<%=pedido.id %>" class="botao cancelarpedido_criarpedido"> Cancelar Pedido</a>
                        
                    </div>
                </div>
                <% } else { %>
                    <label  for="fase" class="labelsimples">Cliente cadastrado:</label>
                    <span class="clientecadastrado_campo"> NÃO </span>
                    <div class="clientedados_criarpedido">
                        <div class="divusuario">
                            <div class="label-input-group">
                                <label>Nome</label>
                                <input class="dadosusuario_nome">
                            </div>
                            <div class="label-input-group">
                                <label>Email</label>
                                <input class="dadosusuario_email">
                            </div>
                            <div class="label-input-group">
                                <label>Telefone</label>
                                <input class="dadosusuario_telefone">
                            </div>
                            <div class="label-input-group">
                                <label>Celular</label>
                                <input class="dadosusuario_celular">
                            </div>
                            <div class="label-input-group">
                                <label>Rua</label>
                                <input class="dadosusuario_logradouro">
                            </div>
                            <div class="label-input-group">
                                <label>Número</label>
                                <input class="dadosusuario_numero">
                            </div>
                            <div class="label-input-group">
                                <label>Cidade</label>
                                <input class="dadosusuario_municipio">
                            </div>
                        </div>
                        <a  class="botao criar_criarpedido">Criar Pedido</a>
                    </div>
                </div>
                <% } %>




                <div class="produto_criarpedido">
                    <a class="botao buscarproduto_criarpedido botao_produto_criarpedido_css" >Buscar produto</a>
                    <div class="divlistaproduto_criarpedido">
                        <div class="tabelaproduto">
                        <table class="tabelaproduto_criapedido">
                            <tr>
                                <th>-</th>
                                <th>Qtd.</th>
                                <th>Img.</th>
                                <th>Produto</th>
                                <th>Preço</th>
                                <th>Subtotal</th>
                            </tr>
                        <% if(locals.pedido) { %>
                            <% pedido.itens.forEach(itempedido => { %>
                                <tr class="tr<%=itempedido.idproduto %>">
                                    <td>
                                        <a class="botaomenos botaomenos<%=itempedido.idproduto %>">-</a>
                                    </td>

                                    <td class="produto1 registroproduto idlistproduto_criarpedido elementoinvisivel"><%= itempedido.idproduto %></td>

                                    <td>
                                        <input  class="inputqtd inputtam input_qtd<%=itempedido.idproduto %>" value="<%= itempedido.quantidade%>">
                                    </td>

                                    <td>
                                        <a>
                                            <img class="img_criarpedido" src="<%=itempedido.produto.url %>">
                                        </a>
                                    </td>

                                    <td>
                                        <%= itempedido.produto.nome %>
                                    </td>

                                    <td>
                                        <input  class="inputtam input_preco<%=itempedido.idproduto %>" value="<%= itempedido.preco %>">
                                    </td>

                                    <td>
                                        <input class="inputtam input_subtotal<%=itempedido.idproduto %>" readonly="" value="<%= itempedido.preco  %>">
                                    </td>
                                </tr>
                            <% }); %>
                        <% } %>
                        </table>
                        </div>
                        <div class="divsubtotal">
                            <label>Subtotal</label>
                            <% if(locals.somasubtotal) {%>
                                <span class="subtotal_criarpedido"><%= somasubtotal %></span>
                            <% } else { %>
                                <span class="subtotal_criarpedido">-</span>
                            <% } %>
                        </div>
                    </div>
                    
                </div>
            </div>
           
    </div>
    </div>
    <%- include("includes/footer"); %>
</body>
</html>
