<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Usuários</title>
    <%- include("includes/assets"); %>
        <link href="/public/assets/css/home.css" rel="styleshee t" />
        <link href="/public/assets/css/listarusuario.css" rel="stylesheet" />
</head>

<body>
    <%- include("includes/menubar"); %>
        <% if(locals.listausuario){ %>
            <div class="main, alinhamento_tabela_lista_usuarios" style="margin-bottom: 10%;" >
                
                <!--Janela-->
                <div class="janela" >

                    <!--Cabeçalho-->
                    <div class="janela_cabecalho">
                        <form class=" listarusuario, janela_cabecalho" method="post" action="/usuario/pesquisar/1">
                            <h1 style="width: 50%; padding-left: 5%;">Lista de Clientes</h1>
                            <input name="nome" style="width: 25%;" placeholder="Pesquise o cliente aqui">
                            <button class="botao" style="width: fit-content; margin-left:20px;">Pesquisar</button>
                        </form>
                    </div>

                    <!--Tabelha-->
                    <div>
                    <table class="tabelas">
                                
                        <tr style="background-color: rgb(211, 211, 211);">
                            <th>ID</th>
                            <th>NOME</th>
                            <th>ESTADO</th>
                            <th>AÇÕES</th>
                        </tr>
                        <% listausuario.forEach(usuario=> { %>
                            <tr>
                                <td>
                                    <%= usuario.id %>
                                </td>
                                <td>
                                    <%= usuario.nome %>
                                </td>
                                <td>
                                    <%= usuario.estado %>
                                </td>
                                <td><a href="/usuario/<%= usuario.id %>/desativar"><button>Desativar</button></a>
                                    <a href="/usuario/<%= usuario.id %>/editar"><button>Editar</button></a></td>                          
                                    
                            </tr>
                            <% }) %>
                            
                    </table>
                    </div>

                    <!--Paginação-->
                    <div>
                        <% if(locals.qtdepaginas){ %>
                            <ul class="paginacao">
                                <% for (let i = 1; i <= qtdepaginas; i++) { %>
                                    <li><a class="pagina" href="/usuario/listar/<%= i %>"><%= i %></a></li>
                                <% } %>
                            </ul>
                        <% } %>
                    </div>           
                </div>
            </div>
            <% } %>
                <%- include("includes/footer"); %>
</body>

</html>