<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("includes/assets"); %>
    <!-- Se quiser fazer um CSS personalizado desta pagina-->
    <!-- <link href="/public/assets/css/meucsspersonalizado.css" rel="stylesheet"/> -->
    <title>Alerta</title>  <!--Não se esqueça de alterar o nome do titulo-->
</head>
<body>
    <div class="main">
        <%- include("includes/menubar"); %>
        <div class="contents quadrado_centralizado_css" style="width:40%; height:20%; padding:2%;">
            <div class="<%= telainformacao_tipo %>">
                <h1><%= telainformacao_msg  %></h1>
                <% if(locals.telainformacao_link){ %>
                    <button href="<%= telainformacao_link %>" class="botao" ><%= telainformacao_link_msg %></button> 
                <% } %>
            </div>
        </div>
    </div>
    <%- include("includes/footer"); %>
</body>
</html>